.idea/*
*.pyc
.DS_Store
clients/java1.8_client/client/settings.gradle
clients/java1.8_client/client/target/classes/Main.class
clients/java1.8_client/client/target/classes/core/BaseStrategy.class
clients/java1.8_client/client/target/classes/core/Client.class
clients/java1.8_client/client/target/classes/core/Strategy.class
clients/java1.8_client/client/target/classes/core/API/API.class
clients/java1.8_client/client/target/classes/core/API/Debug.class
clients/java1.8_client/client/target/classes/core/API/Elevator.class
clients/java1.8_client/client/target/classes/core/API/MessagesInterface.class
clients/java1.8_client/client/target/classes/core/API/Passenger.class
clients/java1.8_client/client/target/maven-archiver/pom.properties
clients/java1.8_client/client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
clients/java1.8_client/client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
clients/java1.8_client/gradle/wrapper/gradle-wrapper.jar
clients/java1.8_client/gradle/wrapper/gradle-wrapper.properties
clients/python2_client/client/core/strategy.py
localrunner/visualizer/game.js
clients/java1.8_client/.idea/modules/java1.8_client.iml
clients/java1.8_client/client/build.gradle
/clients/java1.8_client/client/java1.8_client_3904.jar
/clients/java1.8_client/client/JavaClient.iml
/clients/java1.8_client/client/java1.8_client_3859.jar
/clients/java1.8_client/client/java1.8_client_4556.jar
/clients/java1.8_client/client/target/
/clients/java1.8_client/client/java1.8_client_4576.jar
/clients/java1.8_client/client/java1.8_client4576_pass_will_stay_predict.jar
